<div class="container">

    <!-- Gridzy -->
    <div class="row">
        <div class="column-12">

            <div class="column-4 circ-icon" title="Datacenters - Short Description" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="">
                      <img src="images/icons/drink.png" width="100%" />
                    </a>
                </div>

            </div>


            <div class="column-4 circ-icon" title="Datacenters - Short Description" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="">
                      <img src="images/icons/drink.png" width="100%" />
                    </a>
                </div>

            </div>


            <div class="column-4 circ-icon" title="Datacenters - Short Description" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="#/Contact" id="datacenters"><img src="images/icons/drink.png" width="100%" /></a>
                </div>

            </div>

        </div>
    </div>


    <div class="row">
        <div class="column-12">

            <div class="column-4 circ-icon" title="Datacenters - Short Description" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="">
                      <img src="images/icons/drink.png" width="100%" />
                    </a>
                </div>

            </div>


            <div class="column-4 circ-icon" title="Datacenters - Short Description" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="">
                      <img src="images/icons/drink.png" width="100%" />
                    </a>
                </div>

            </div>


            <div class="column-4 circ-icon" title="Datacenters - Short Description" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="#/Contact" id="datacenters"><img src="images/icons/drink.png" width="100%" /></a>
                </div>

            </div>

        </div>
    </div>


    <div class="row">
        <div class="column-12">

            <div class="column-4 circ-icon" title="Datacenters - Short Description" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="">
                      <img src="images/icons/drink.png" width="100%" />
                    </a>
                </div>

            </div>


            <div class="column-4 circ-icon" title="Datacenters - Short Description" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="">
                      <img src="images/icons/drink.png" width="100%" />
                    </a>
                </div>

            </div>


            <div class="column-4 circ-icon" title="Datacenters - Short Description" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="#/Contact" id="datacenters"><img src="images/icons/drink.png" width="100%" /></a>
                </div>

            </div>

        </div>
    </div>
</div>
