<br />
<br />

<div class="container">

    <h1> Contact us</h1>
    <br />
    <br />
    <div class="row">

        <div class="column-3">
            <img src="images/icons/location_pin.png">
        </div>

        <div class="column-9">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis massa elit. Maecenas vel lectus nisl. Maecenas auctor varius sem id tempor. Praesent nec quam vitae libero ultricies sollicitudin egestas non tellus. Phasellus non mauris tellus. In
                hac habitasse platea dictumst. Fusce fringilla et justo eget rutrum. Curabitur lectus metus, dictum sit amet posuere at, dignissim ut nisl. In ac dignissim leo. Fusce non metus iaculis, convallis nulla sit amet, iaculis massa. Phasellus
                enim est, blandit nec rhoncus at, luctus scelerisque sapien. Proin ultrices ex in magna ultricies pulvinar. Morbi vitae cursus orci. Morbi non velit dapibus, sodales odio at, gravida erat. Suspendisse fringilla volutpat mauris, ac consectetur
                urna euismod ac. Donec rhoncus porttitor odio, ac lacinia sem volutpat sit amet. Ut venenatis tempor accumsan. Sed sit amet odio cursus, pulvinar eros a, maximus mauris. Morbi id euismod ante. Duis placerat elit metus, accumsan mattis
                orci gravida non. Maecenas commodo lorem nibh. Donec volutpat mauris leo, quis dapibus urna facilisis sit amet. Nullam consequat tellus vel erat elementum, et tincidunt tortor molestie. Aenean vitae nunc orci. Integer at consectetur leo.
                Nam porta lacus a posuere bibendum. In tempus sem velit, blandit aliquet metus venenatis vitae. Nam ultrices sapien at urna maximus, at rhoncus massa blandit. Donec ultrices consequat justo ac euismod. Phasellus finibus, erat vitae faucibus
                euismod, neque est faucibus dui, eget viverra augue tellus at tellus. In hac habitasse platea dictumst. Etiam feugiat est sit amet sapien euismod, sit amet facilisis turpis porttitor. In ornare lorem quis risus vehicula rutrum. Duis consectetur
                nec ex in sagittis. Duis nec odio at tellus finibus vulputate ut non orci. Suspendisse potenti. In vitae massa pharetra, mollis risus non, faucibus ante. Pellentesque scelerisque, purus quis efficitur volutpat, massa magna ultricies tellus,
                at tincidunt nibh risus id diam. Curabitur dignissim fermentum aliquam. Praesent et laoreet neque. Nunc mollis at metus in lacinia. Sed metus enim, tempor at varius et, accumsan vitae nibh. Nam tempor nisi tellus. Curabitur at vehicula
                lectus. Ut mollis non libero a commodo. Vestibulum efficitur congue odio, a euismod lorem egestas laoreet.


            </p>
        </div>

    </div>

</div>
