<div class="mainIndex">
    <br/>
    <br />
    <div align="center">
        <a href="http://insanen.com" target="_blank"><img src="../../images/insanen-web-development.png"></a>
    </div>
    <br />
    <br/>
</div>

<br />
<br />

<div class="container">

    <!-- Gridzy -->
    <div class="row">
        <div class="column-12">

            <div class="column-4 circ-icon" title="" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="/Portfolio">
                        <img src="images/icons/suitcase.png" width="100%" />
                    </a>
                </div>
                <h2><a href="/Portfolio">Portfolio</a></h2>
            </div>


            <div class="column-4 circ-icon" title="" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="/Clients">
                        <img src="images/icons/graph.png" width="100%" />
                    </a>
                </div>
                <h2><a href="/Clients">Clients</a></h2>
            </div>


            <div class="column-4 circ-icon" title="" align="center" onmouseover="this.className='column-4 circ-icon menu-kkk'" onmouseout="this.className='column-4 circ-icon menu-hover'">
                <div class="logo-link">
                    <a href="/Contact" id="datacenters"><img src="images/icons/phone.png" width="100%" /></a>
                </div>
                <h2><a href="/Contact">Get In Touch</a></h2>
            </div>

        </div>
    </div>

</div>
