<div class="container">

    <!-- Gridzy -->
    <div class="row">
        <div class="column-12">

            <div class="column-4 block-bg-hover" title="" align="center" onmouseover="this.className='column-4 block-bg'" onmouseout="this.className='column-4 block-bg-hover'">
                <div class="logo-link">
                    <a href="/Portfolio">
                        <i class="fa fa-lg fa-calendar-check-o" aria-hidden="true"></i>
                    </a>
                </div>
                <h2><a href="/Portfolio">Portfolio</a></h2>
            </div>


            <div class="column-4 block-bg-hover" title="" align="center" onmouseover="this.className='column-4 block-bg'" onmouseout="this.className='column-4 block-bg-hover'">
                <div class="logo-link">
                    <a href="/Clients">
                    
<i class="fa fa-lg fa-life-ring" aria-hidden="true"></i>
                    </a>
                </div>
                <h2><a href="/Clients">Clients</a></h2>
            </div>


            <div class="column-4 block-bg-hover" title="" align="center" onmouseover="this.className='column-4 block-bg'" onmouseout="this.className='column-4 block-bg-hover'">
                <div class="logo-link">
                    <a href="/Contact" id="datacenters">
                       <i class="fa fa-lg fa-address-book-o" aria-hidden="true"></i>
                    </a>
                </div>
                <h2><a href="/Contact">Get In Touch</a></h2>
            </div>

        </div>
    </div>

</div>

<div class="sponsors">
    <div align="center">
        <a href="http://insanen.com" target="_blank"><img src="../../images/insanen-web-development.png"></a>
    </div>
</div>

