<div class="container">
    <br />
    <h1> Portfolio</h1>
    <br />
    <br />
    <h3><a href="http://insanen.com" target="_blank">Insanen Solutions</a></h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem massa. Vivamus tempor semper consequat. Morbi lorem libero, cursus at metus sit amet, bibendum pellentesque diam. In suscipit cursus ultrices. Donec in leo dapibus libero accumsan placerat.
        Donec sit amet porttitor felis, sit amet pharetra dolor. Proin placerat felis et dui finibus, vel consequat velit pharetra. Nunc tristique consequat porttitor.
    </p>
    <div class="wrapper-minerva">
        <div class="container-minerva" ng-controller="GlobalController">
            <ul id="slider">
                <li><img style="width: 100%;" ng-src="{{imgSlider}}" /></li>
                <li><img style="width: 100%;" ng-src="{{imgSlider2}}" /></li>
            </ul>

            <ul id="dots">
                <li class="active"></li>
                <li></li>
            </ul>

        </div>
    </div>


    <br />
    <br />
    <h3><a href="http://gitflow.me" target="_blank">GitFlow</a></h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem massa. Vivamus tempor semper consequat. Morbi lorem libero, cursus at metus sit amet, bibendum pellentesque diam. In suscipit cursus ultrices. Donec in leo dapibus libero accumsan placerat.
        Donec sit amet porttitor felis, sit amet pharetra dolor. Proin placerat felis et dui finibus, vel consequat velit pharetra. Nunc tristique consequat porttitor.
    </p>
    <div class="wrapper-minerva">
        <div class="container-minerva" ng-controller="GlobalController">
            <ul id="slider">
                <li><img style="width: 100%;" ng-src="{{imgSlider}}" /></li>
                <li><img style="width: 100%;" ng-src="{{imgSlider2}}" /></li>
            </ul>

            <ul id="dots">
                <li class="active"></li>
                <li></li>
            </ul>

        </div>
    </div>

</div>
